// Manrope googlefont
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

$dark-blue: hsl(218, 23%, 16%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$neon-green: hsl(150, 100%, 66%);

@mixin screen-mobile {
  @media (min-width: 375px) and (max-width: 428px) {
    @content;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 3 / 1;
  width: 33vw;
  height: auto;

  background-color: $dark-grayish-blue;
  border-radius: 1rem;

  @include screen-mobile() {
    width: 66vw;
    height: auto;
  }

  .flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 80%;

    .top {
      margin-top: 1rem;

      h1 {
        color: $neon-green;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-size: 14px;

        @include screen-mobile() {
          font-size: 10px;
        }
      }
    }

    .middle {
      margin-top: 0;
      margin-bottom: 1rem;

      h2 {
        color: white;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-size: 28px;
        text-align: center;

        @include screen-mobile() {
          font-size: 14px;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;

      margin-bottom: 4.33rem;

      img {
        width: 100%;
      }

      @include screen-mobile() {
        margin-bottom: 2.5rem;
      }
    }

    .diceWrapper {
      position: absolute;
      bottom: -10%;

      display: grid;
      place-items: center;

      background-color: $neon-green;
      border-radius: 100px;

      width: 4rem;
      height: 4rem;

      @include screen-mobile() {
        width: 2.5rem;
        height: 2.5rem;

        bottom: -10%;
      }

      img {
        @include screen-mobile() {
          width: 1rem;
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 2rem $neon-green;
      }
    }
  }
}
